html {
	box-sizing: border-box;
	// height: 100%;
	font-size: 62.5%; //10px/16px = 62.5% => 1rem = 10px

// 	@media only screen and (max-width: $query__largest) {
// font-size: 50%;
// 	}
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}


body {
	// background: $color__background-body;
	/* Fallback for when there is no custom background color defined. */
// height: 100%;
font-size: 1.6rem;
// color: $color__text--grey;

}

hr {
	// background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5rem;
}



img {
	height: auto;
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}



ul {
	text-decoration: none;
	padding: 0;
}
li {
	list-style: none;

}

a {
	text-decoration: none;
	// color:$color__text--grey; 
}

.avatar {
	border-radius: 100%;
}