button{
text-transform: uppercase;
white-space:nowrap;
}


.btn {
    background-color: $color__white;
    color: $color__main;
    border: none;
    padding: .15rem 1rem;
    margin: 2rem 1rem;
    
    &--full{
        background-color: $color__main;
        color: $color__white;
        padding: .15rem 2rem;
    }
}




.btn--ghost {
    background-color: transparent;
    border: 1px solid $color__white;
    color: $color__white;

    &:hover {
        background-color: $color__white;
    color: $color__main;
    }
}
form{
    position: absolute;
    // top: 50%;
    // left:50%;
    // transform: translate(-50%, -50%);
    // transform: translateX(-50%);
    margin: auto;
}

input, textarea{
    display: block;
    margin: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
min-width:30rem;


    &::placeholder {
        color: rgb(158, 158, 158);
        
    }
}

textarea{
    resize:none;
}

.text-area {
    min-height: 15rem;

}