.header{
    background-color: $color__main;
    // height: 177px;
    height: 14rem;
    // width: 100vw;
    // display: flex;
    position: relative;

    @media only screen and (max-width: $query__small) {
        height: 10rem;

       }

}


.nav-burger, .nav-burger-home {
    z-index: 999;
    position: absolute;
    right:.5rem;
    &:hover {
        cursor: pointer;
    }
    
    @media only screen and (min-width: $query__largest) {
        right:6.5rem;

    }

}

.nav-burger {
    top: 50%;
    transform: translate(0, -50%);

}

.nav-burger--close {
    &:hover {
        cursor: pointer;
    }
    z-index: 999;
// border: 2px solid green;
position: fixed;
right: 3rem;
top: 2.5rem;
@media only screen and (min-width: $query__small) {
top: 4.5rem;
}
// top: 2rem;
@media only screen and (min-width: $query__largest) {
    right:9.5rem;

}

}

.nav-burger--home {
       top: 7rem;
}



// .navbar {
//     height: 177px;
//     color: green;
// }



.navbar {

    
  &__background {
        background-color: $color__main--lighter;       
         height: 100vh;
        width:100vw;
        position: fixed;
        z-index: 888;
    }

    &__list {

        // display:block;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin: 10rem .2rem;
        // margin: 8rem auto 70rem auto;
        // padding: 8rem auto 70rem auto;
        @media only screen and (min-width: $query__small) {
        }



// display: flex;
// flex-direction: column;
// justify-content: space-around;
// align-items: center;

    }

    &__item{


        text-transform: uppercase;
        color: $color__white;
        font-size: 3.3rem;
        margin:3rem .1rem;
        white-space:nowrap;
        // margin: 8rem, auto 7rem auto;
        // padding-bottom: 10rem;
        @media only screen and (min-width: $query__small) {
            font-size: 3.9rem;
        margin: 7rem .2rem;
        }
        // margin: 2rem 0;
        @media only screen and (min-width: $query__largest) {
            margin: 7rem;
        
        }

    }
}