.header{
    background-color: $color__main;
   height: 14rem;
  position: relative;

    @media only screen and (max-width: $query__small) {
        height: 10rem;
       }
}


.nav-burger, .nav-burger-home {
    z-index: 999;
    position: absolute;
    right:.5rem;
    &:hover {
        cursor: pointer;
    }
    
    @media only screen and (min-width: $query__largest) {
        right:6.5rem;
    }
}


.navbar {

    
  &__background {
        background-color: $color__main--lighter;       
         height: 100vh;
        width:100vw;
        position: fixed;
        z-index: 888;
    }

    &__list {
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

        @media only screen and (min-width: $query__small) {
        }
            .active{
                transition: all .2s;

                li {
                    transition: all .2s;
                    border-bottom: 5px solid $color__white;
                }
            }
    }

    &__item{
        text-transform: uppercase;
        color: $color__white;
        font-size: 3.3rem;
        margin:1rem 0;
        padding: 1rem;
        white-space:nowrap;
      
        @media only screen and (min-width: $query__small) {
            font-size: 3.9rem;
       }
            @media only screen and (min-width: $query__largest) {
            margin: 3rem 0;
        
        }

        background: linear-gradient(120deg, transparent 0%, transparent 50%, $color__white 50%);
        background-size: 240%;
        transition: all .2s;

        &:hover {
background-position: 100%;
color: $color__main--lighter;
        }
    }
}



.nav-burger-container {
 right: 3rem;   
    height: 7rem;
    width: 7rem;
top: 2rem;
position: absolute;
text-align: center;
z-index: 999;

@media only screen and (min-width: $query__small) {
    top: 3rem;
    
    }
   
  &:hover {
            cursor: pointer;
        }
  
    span{
        display: block;
        position: absolute;
        height: 4px;
            width: 100%;
        background: #ffffff;
        border-radius: 1px;
        opacity: 1;
           right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index:900;
        
    }

    span:first-child {
        top:20%;  
      }
      
       span:nth-of-type(2){ 
        width: 65%;
      transform: translate(0, -50%);
       }
      
      span:last-child {
         top:80%;
      }
      

      .nav-burger {

          &--open {

            span {
   
                &:first-child {
            left: 50%;
            top: 50%;
             transform:translate(-50%, -50%) rotate(-135deg) scale(.6)
               }   

               &:nth-of-type(2){                   
                left: 50%;
                top: 50%;
                transform:translate(-50%, -50%) rotate(135deg) ;
               transform: translateX(-101vw);
               

              }
              
               &:last-child {
           left: 50%;
           top: 50%;
            transform:translate(-50%, -50%) rotate(135deg) scale(.6)
              } 
          }
      }
  }
}



.nav-burger--open .nav-burger-container {
    background-color: yellow;
    position: fixed;
}
