
.site-body {
   width: 100vw;
       display: grid;
    grid-template-columns: 1fr;
     margin: 0;
}

.hero{
    height: calc(100vh - 8rem);
    width: 100vw;
    background-color:$color__main;
    margin: 0;
    position: relative;    

&__buttons {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

    
    @media only screen and (min-width: $query__small) {

        height: calc(100vh - 14rem);
    }   






h2{
    text-transform: none;
}

    &__text {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
}    
        &__text--line-2 {
            display: block;
        }
}


.site-content {

  &--what-i-use {
      
    margin: auto;
      display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:  repeat(2, 1fr);

    @media only screen and (min-width: $query__small) {
       grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns:  repeat(3, 1fr);
}   
        @media only screen and (min-width: $query__large) {
             grid-template-rows: 1fr 1fr;
        grid-template-columns:  repeat(5, 1fr);
    }
}
}

.tools-icon {
     margin:2rem 2rem;   
}

.tools-icon__text {
        padding-bottom: 1rem;
  }

.tools-icon__icon {
        display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
   
    svg{        
        justify-self: center;
    }
}

.confirmation-page{
    margin-top: 10rem;
}