// $color__main: green;

.site-content {
      margin: 0 0.2rem;
    //   min-height: 100%;
    
    @media only screen and (min-width: $query__largest) {
        margin: 0 83.5px;
   }

}

.projects-grid {    
    display: grid;
    grid-template-columns: 1fr ;
    margin: 0;
    
    @media only screen and (min-width: $query__large) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
        margin: 1rem;
       }
    }

.project-container {    
    margin: 0 0.2rem 4rem 0.2rem;
    position: relative;
    width:100%;
    height: auto;

    @media only screen and (min-width: $query__largest) {
  
        width: 100%;
        margin: 1rem;
    }
}


.project-overlay {

   position: absolute;
   top: 0;
   bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      opacity: 0;
      transition: .2s ease;
      background-color: $color__main--lighter;
      color: $color__white;
      overflow: hidden;

    //   ----   Overlay hover effects -----------------
   
            &:hover {
                                opacity: 1;
                                .project-overlay__title {top: 1.2rem;  opacity: 1;}
                                .project-overlay__description { left: 50%; opacity: 1;}
                                .project-overlay__button-1, .project-overlay__button-2, .project-overlay__button-solo  {bottom: .1rem;}
                                .project-overlay__button-2 {transition-delay: .1s;}
                            
                                @media only screen and(min-width: $query__small) {
                                    .project-overlay__title {top: 6rem;}
                                    .project-overlay__button-1, .project-overlay__button-2, .project-overlay__button-solo  {bottom: 3.5rem;}
                                
                                }

                                @media only screen and(min-width: $query__large) {
                                    .project-overlay__title {top: 4rem;}
                                    .project-overlay__button-1, .project-overlay__button-2, .project-overlay__button-solo  {bottom: 1.5rem;}
                                }
                                @media only screen and(min-width: $query__largest) {
                                    .project-overlay__title {top: 7rem; }
                                    .project-overlay__button-1, .project-overlay__button-2, .project-overlay__button-solo  {bottom: 3.5rem;}
                                }
            }
}

.project-overlay__button-1, .project-overlay__button-2, .project-overlay__button-solo {
    transition-delay: 2s;
    transition-property: bottom;
    transition: .2s ease;
    bottom: -5rem;
    position: absolute;
    margin: 1.5rem 1rem;
    }


.project-overlay__button-1 {
    left: 10%;

    @media only screen and(min-width: $query__small ) {
        left: 35%;
    }
}

.project-overlay__button-2 {
    right: 10%;

    @media only screen and (min-width: $query__small) {
        left: 55%;
    }
}

.project-overlay__button-solo {
    left: 50%;
    transform: translate(-50%);
}


.project-overlay {
    
    &__title {
        transition: .2s ease;
        font-size: 1.9rem;
        text-transform: uppercase;
        position: absolute;
        top: -10rem;
        margin: 1rem;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;

        @media only screen and (min-width: $query__small) {
            font-size: 2.9rem;
            top: 3rem;
            margin: 1rem;
        }
    }
    
    &__description {
        transition: .2s ease;
        position: absolute;
        top: 50%;
        opacity: 0;
        font-size: 1.2rem;
    width: 32rem;
    margin: 1rem;   
    left: 1%;
    transform: translate(-50%, -50%);
    
    @media only screen and(min-width: $query__small) {
        font-size: 1.9rem;
    width: 32rem;
    margin: 1rem;    
    left: 1%;
    transform: translate(-50%, -50%);            
        }
}
}
