// $color__main: green;

.site-content {
    // display: flex;
    // flex: 1;
    margin: 0 0.2rem;
    min-height: auto;
    @media only screen and (min-width: $query__largest) {
        // border: 2px solid red;
        min-height: 100%;
        margin: 0 83.5px;
   }

}

.projects-grid {
    
    
    display: grid;
    grid-template-columns: 1fr ;
    margin: 0;
    
    @media only screen and (min-width: $query__large) {
        // border: 1px solid pink;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;
       }

}

.project-container {
    
    margin: 0 0.2rem 4rem 0.2rem;
    padding: 0 0.2rem 4rem 0.2rem;
    position: relative;
    width:100%;
    // height: 100%;
    height: auto;
    
    
    // @media only screen and (max-width: $query__small) {
    //     margin: 0 0.2rem 4rem 0.2rem;
    //     padding: 0 0.2rem;
    // }
    @media only screen and (min-width: $query__largest) {
        // height: 475px;
        width: 100%;
        // width: auto;
        margin: 1rem;
        padding: 2rem;
    }
    
    
}

.project-overlay__description {
    // border: 2px solid yellow;
    font-size: 21.9rem;
    // width: 3.2rem;
    position: absolute;
top: 50%;
margin: 1rem;
left: 50%;
transform: translate(-50%, -50%);
}

.project-overlay {
    
    &__title {
        font-size: 2.9rem;
        text-transform: uppercase;
        //    margin: 7rem auto auto auto
        position: absolute;
        top: 7rem;
        margin: 1rem;
        left: 50%;
        transform: translate(-50%);
        @media only screen and (max-width: $query__largest) {
            top: 3rem;
            margin: 1rem;
           }
        
    }
    
    &__description {
        // border: 2px solid yellow;
        //     font-size: 21.9rem;
        //     // width: 3.2rem;
        //     position: absolute;
        // top: 50%;
        // margin: 1rem;
        // left: 50%;
        // transform: translate(-50%, -50%);
        }
        
        
        
        &__buttons {
            
            
            position: absolute;
            bottom: 4rem;
            margin: 1rem;
            left: 50%;
            transform: translate(-50%);
            
            text-transform: uppercase;
            @media only screen and (max-width: $query__largest) {
                
                margin: .2rem;
                bottom: 3.5rem;
                width:100%;
               }
            
            
            
            //     .btn {
                // // border: 4px solid blue;
                // position: absolute;
                // bottom: 2rem;
                // margin: 4rem;
                //     }
            }
        }

.project__img {
  
    &:hover {
       
    }
}


.container-test {
width: 100%;
position: relative;

}

.img-test {
// width: 100%;
// height: auto;
}

.overlay-test {

   position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $color__main--lighter;
                        &:hover {
                            opacity: 1;
    }
}

.overlay-test2 {

   position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
//   width: 100%;
//   opacity: 0;
//   transition: .5s ease;
  background-color: $color__main--lighter;
                        &:hover {
                            // opacity: 1;
    }
}



