// $color__main: green;

.site-content {
    // display: flex;
    // flex: 1;
    margin: 0 0.2rem;
    min-height: auto;
    @media only screen and (min-width: $query__larger) {
        // border: 2px solid red;
        min-height: 100%;
        margin: 0 83.5px;
   }

}

.projects-grid {
    
    
    grid-template-columns: 1fr ;
    margin: 0;
    display: grid;
    
    @media only screen and (min-width: $query__large) {
        // border: 1px solid pink;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;
       }

}

.project-container {
    
    margin: 0 0.2rem 4rem 0.2rem;
    padding: 0 0.2rem 4rem 0.2rem;
    
    
    // @media only screen and (max-width: $query__small) {
    //     margin: 0 0.2rem 4rem 0.2rem;
    //     padding: 0 0.2rem;
    // }
    @media only screen and (min-width: $query__large) {
        // border: 2px solid yellow;
        // height: 475px;
        width: 100%;
        // width: auto;
        margin: 1rem;
        padding: 2rem;
    }
}

.project__img {
    transition: all 0.4s;
    &:hover {
        // filter:brightness(.2); 
        //  filter: sepia(90%);
        //  filter: blur(10px);
        //  filter: contrast(175%) brightness(3%);
        // background-color: rgb(14, 12, 12);
    }
}